/dist
/node_modules
/target
Cargo.lock
.DS_Store
pnpm-lock.yaml

/examples/cli/config/config/local.toml
/examples/todomvc/public
/packages/website/public

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
tarpaulin-report.html

# Jetbrain
.idea/

/packages/handbook/.obsidian/app.json
/packages/handbook/.obsidian/appearance.json
/packages/handbook/.obsidian/hotkeys.json
/packages/handbook/.obsidian/workspace.json
/packages/handbook/.obsidian/plugins
!/packages/handbook/.obsidian/plugins/obsidian-git/data.json
!/packages/handbook/.obsidian/plugins/obsidian-linter/data.json

