.DS_Store

/debug
/target
**/*.rs.bk
*.pdb

**/public
/docs/website/static/style.css
/examples/cli/config/config/local.toml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
tarpaulin-report.html

# Jetbrain
.idea/

/docs/handbook/.obsidian/app.json
/docs/handbook/.obsidian/appearance.json
/docs/handbook/.obsidian/hotkeys.json
/docs/handbook/.obsidian/workspace.json
/docs/handbook/.obsidian/plugins
!/docs/handbook/.obsidian/plugins/obsidian-git/data.json
!/docs/handbook/.obsidian/plugins/obsidian-linter/data.json

