[package]
name = "bevy_dioxus"
version = "0.1.0"
authors = ["Junichi Sugiura"]
edition = "2021"
description = "Write Cross-platform application with React-like decralative UI framework and scalable ECS architecture all in Rust."
license = "MIT OR Apache-2.0"
repository = "https://github.com/JunichiSugiura/bevy_dioxus/"
homepage = "https://github.com/JunichiSugiura/bevy_dioxus/"
documentation = "https://docs.rs/bevy_dioxus/latest/bevy_dioxus/"
keywords = ["declarative-ui", "ecs", "bevy", "dioxus", "cross-platform"]

[dependencies]
bevy = { version = "0.7", default-features = false }
bevy_dioxus_core = { version = "0.1", path = "./packages/core" }
bevy_dioxus_desktop = { version = "0.1", path = "./packages/desktop", optional = true }
bevy_dioxus_macro = { version = "0.1", path = "./packages/macro" }

[dev-dependencies]
leafwing-input-manager = { version = "0.3", default-features = false }
dioxus = { version = "0.2", features = ["fermi"] }

[features]
default = ["desktop"]
desktop = ["bevy_dioxus_desktop"]

[workspace]
members = [
    "packages/core",
    "packages/desktop",
    "packages/macro",
]

[[example]]
name = "window-settings"
path = "examples/window/settings.rs"

[[example]]
name = "update-mode"
path = "examples/window/update-mode.rs"

[[example]]
name = "multiple-windows"
path = "examples/window/multiple-windows.rs"

[[example]]
name = "scale-factor-override"
path = "examples/window/scale-factor-override.rs"
