[package]
name = "dip"
version = "0.1.0"
authors = ["Junichi Sugiura"]
edition = "2021"
description = "Write cross-platform application with React-like declarative UI framework and scalable ECS architecture all in Rust."
license = "MIT OR Apache-2.0"
repository = "https://github.com/diptools/dip/"
homepage = "https://github.com/diptools/dip/"
documentation = "https://docs.rs/dip/latest/dip/"
keywords = ["declarative-ui", "ecs", "bevy", "dioxus", "cross-platform"]

[dependencies]
bevy = { version = "0.8", default-features = false }
dioxus = { version = "0.2", features = ["fermi"] }

dip_core = { version = "0.1", path = "./packages/core" }
dip_desktop = { version = "0.1", path = "./packages/desktop", optional = true }
dip_macro = { version = "0.1", path = "./packages/macro" }
dip_cli = { version = "0.1", path = "./packages/cli", optional = true }

[dev-dependencies]
leafwing-input-manager = { version = "0.5", default-features = false }

[features]
default = ["cli"]
desktop = ["dip_desktop"]
cli = ["dip_cli"]

[workspace]
members = [
    "packages/cli",
    "packages/core",
    "packages/desktop",
    "packages/macro",
    "examples/todomvc",
]

[[example]]
name = "keyboard"
path = "examples/keyboard/keyboard_event.rs"

[[example]]
name = "key_bindings"
path = "examples/keyboard/bindings.rs"

[[example]]
name = "local_state"
path = "examples/state_management/local_state.rs"

[[example]]
name = "global_state"
path = "examples/state_management/global_state.rs"

[[example]]
name = "ecs"
path = "examples/state_management/ecs.rs"

[[example]]
name = "window_settings"
path = "examples/window/settings.rs"

[[example]]
name = "render_mode"
path = "examples/window/render_mode.rs"

[[example]]
name = "multiple_windows"
path = "examples/window/multiple_windows.rs"

[[example]]
name = "scale_factor_override"
path = "examples/window/scale_factor_override.rs"
